<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{ url_for('static', path='css/FormCreate.css?v1.1') }}" rel="stylesheet">
</head>
<body>
<button  class="no_cat">Отправить</button>
<a>
<div class="container">
    <div class="card">
        <div class="card-image">

        </div>
        <form class="card-form">
            <div class="input">
                <input type="text" class="input-field" id="first_name" required/>
                <label class="input-label">Имя</label>
            </div>
            <div class="input">
                <input type="text" class="input-field id=second_name" required/>
                <label class="input-label">Фамилия</label>

            </div>

            <div class="input">
                <input type="text" class="input-field" id="age" required/>
                <label class="input-label">Возраст</label>
            </div>
            <div class="input">
                <input type="text" class="input-field" id="tag" required/>
                <label class="input-label">Tег в игре</label>
            </div>

            <div class="action">
                <button id='button_send' type="submit" class="action-button">Отправить</button>
            </div>
        </form>

    </div>
</div>
    </a>
<script src="https://telegram.org/js/telegram-web-app.js"></script>
<script>
    let tg = window.Telegram.WebApp;
let button = document.getElementById("button_send");
document.addEventListener("keydown", function(event) {
    if (event.key === "Enter") {
        event.preventDefault();
    }
});
document.addEventListener("click", function() {
    document.activeElement.blur();
});

button.addEventListener("click", () => {
    let first_name = document.getElementById("first_name").value;
    let second_name = document.getElementById("second_name").value;
    let age = document.getElementById("age").value;
    let tag = document.getElementById("tag").value;

    if(first_name.length > 0 && second_name.length > 0 && age.length > 0 && tag.length > 0) {
        let data = {
            first_name: first_name,
            second_name: second_name,
            age: age,
            tag: tag
        }

        tg.sendData(JSON.stringify(data));
        tg.close();
    }
});
</script>

</body>
</html>